In [1]:
import pandas as pd

In [2]:
#using Tanlin's code
#importing both csv's of vehicles
vehicles = "all_vehicles_fix.csv"
allvehicles = pd.read_csv(vehicles, encoding= "ISO-8859-1")

evvehicles = "EV_vehicles_fix.csv"
ev = pd.read_csv(evvehicles, encoding= "ISO-8859-1")

In [3]:
allvehicles

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Acura ILX,935,"1,083",723,506,"1,039","1,109","1,230","1,331","1,377","1,523","1,141","1,417"
1,Acura MDX,"2,961","3,843","2,137","1,725","3,331","3,977","4,494","5,165","4,920","4,732","4,491","6,040"
2,Acura NSX,9,9,16,5,6,10,15,3,10,22,9,14
3,Acura RDX,"3,493","4,982","2,678","1,760","4,427","5,410","5,317","5,057","4,664","5,022","4,155","5,820"
4,Acura RLX,63,84,31,26,71,126,134,118,122,126,81,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,Volvo XC40,"1,303","1,615","1,052",930,"2,305","2,315","2,216","1,933","1,911","2,504","2,344","3,350"
301,Volvo XC60,"1,737","2,276","1,556","1,053","2,723","2,867","2,637","2,981","2,632","3,571","3,756","4,289"
302,Volvo XC90,"1,994","2,429","1,664","1,286","3,072","3,454","2,966","2,998","2,672","3,257","3,516","4,943"
303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,NaN,"?êæ = 1,157,415","?êæ = 1,434,716","?êæ = 912,800","?êæ = 563,122","?êæ = 1,181,756","?êæ = 1,214,706","?êæ = 1,336,267","?êæ = 1,298,489","?êæ = 1,370,243","?êæ = 1,333,792","?êæ = 1,146,235","?êæ = 1,523,736"

In [5]:
ev

,Manufacturer,Model,Manufacturer and Model,Variant,Top speed,Acceleration,Capacity,Charging time,Nominal range,Market release date and sales,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Aiways,U5,Aiways U5,NaN,"160, km/h (99, mph)[1]",10 s[1],5[1],DC fast charging time (30% ~ 80%): 27min,"400, km (249, mi) (WLTP)[2]",?,NaN,NaN,NaN
1,Audi,eTron,Audi eTron,NaN,"200, km/h (124, mph)",5.7 s,5,"8.5 hours, DC Charging 150 KW 80% in 30 min","328, km (204, mi) (EPA),, 433, km (269, mi) (W...",2019,NaN,NaN,NaN
2,BMW,i3,BMW i3,NaN,"150, km/h (93, mph)",8 s,4,"4h - 6h with the 240 V charging unit or 30 ,...","246, km (153, mi)[3], MY 2019 (120 A,·h) (EPA)...",Released in Europe in 2013 and in 2014 in the ...,NaN,NaN,NaN
3,BYD,e6,BYD e6,NaN,"160, km/h (100, mph)",8 s,5,"Fast charging within 15 minutes to 80%, and 40...","400, km (250, mi)","Market Release 2009, Cumulative sales in China...",NaN,NaN,NaN
4,Chevrolet,Bolt,Chevrolet Bolt,NaN,"150, km/h (93, mph) (speed limited)",6.5 s,15,NaN,"383, km (238, mi)","Production started in October 2016, deliveries...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Xpeng,P7,Xpeng P7,Long Range,"170, km/h (110, mph)[60]",6.7 s[60],5[60],DC Charging Time (30% to 80% charge): 28 min,"568, km (353, mi) (NEDC)[60]",?,NaN,NaN,NaN
71,Xpeng,P7,Xpeng P7,Super Long Range Standard,"170, km/h (110, mph)[60]",6.7 s[60],5[60],DC Charging Time (30% to 80% charge): 31min,"706, km (439, mi) (NEDC)[60]",?,NaN,NaN,NaN
72,Xpeng,P7,Xpeng P7,Super Long Range Smart/Premium,"170, km/h (110, mph)[60]",6.7 s[60],5[60],DC Charging Time (30% to 80% charge): 31min,"656, km (408, mi) (NEDC)[60]",?,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AC Charging Time (30% to 80% charge): 6.5h,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Three-phase Electric Charging Time (30% to 80%...,NaN,NaN,NaN,NaN,NaN

In [6]:
allvehicles["is_EV"] = pd.Series(dtype = 'boolean')
allvehicles["is_EV"] = 0
allvehicles.loc[0, "is_EV"].dtype

dtype('int64')

In [7]:
for index, row in allvehicles.iterrows():
    if row["Model"] in ev["Manufacturer and Model"].unique():
        print(f'{row["Model"]} is an EV at index {index}')
#        row["is_EV"] = 1 THIS DOESN'T WORK - RECORD IN NOTES
        allvehicles.loc[index, "is_EV"] = 1
allvehicles.head(50)

Audi eTron is an EV at index 15
BMW i3 is an EV at index 29
Chevrolet Bolt is an EV at index 57
Ford Mustang Mach E is an EV at index 103
Honda Clarity FCV is an EV at index 119
Hyundai Ioniq is an EV at index 131
Hyundai Kona is an EV at index 132
Nissan Leaf is an EV at index 237
Tesla Model 3 is an EV at index 265
Tesla Model S is an EV at index 266
Tesla Model X is an EV at index 267
Tesla Model Y is an EV at index 268

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,is_EV
0,Acura ILX,935,"1,083",723,506,"1,039","1,109","1,230","1,331","1,377","1,523","1,141","1,417",0
1,Acura MDX,"2,961","3,843","2,137","1,725","3,331","3,977","4,494","5,165","4,920","4,732","4,491","6,040",0
2,Acura NSX,9,9,16,5,6,10,15,3,10,22,9,14,0
3,Acura RDX,"3,493","4,982","2,678","1,760","4,427","5,410","5,317","5,057","4,664","5,022","4,155","5,820",0
4,Acura RLX,63,84,31,26,71,126,134,118,122,126,81,72,0
5,Acura TLX,"1,769","2,263","1,452","1,024","1,467","1,439","1,886","1,973","1,848","2,365","2,014","2,285",0
6,Alfa Romeo 4C,10,13,8,7,16,17,7,7,7,2,2,3,0
7,Alfa Romeo Giulia,571,740,448,305,677,711,769,683,740,864,709,987,0
8,Alfa Romeo Stelvio,621,804,487,360,801,841,997,886,960,"1,189",977,"1,359",0
9,Audi A3,727,941,570,342,761,799,896,796,863,"1,094",899,"1,250",0
10,Audi A4,"1,283","1,661","1,006",795,"1,766","1,854","2,089","1,857","2,012","1,356","1,114","1,549",0
11,Audi A5,"1,728","2,237","1,355",898,"1,996","2,096","1,304","1,159","1,255","1,619","1,330","1,850",0
12,Audi A6,809,"1,048",635,374,830,872,"1,216","1,081","1,171",843,693,964,0
13,Audi A7,211,273,165,107,238,250,263,233,253,292,240,334,0
14,Audi A8,180,233,141,83,185,194,230,204,222,237,195,271,0
15,Audi eTron,556,719,436,209,464,488,805,716,775,686,564,784,1
16,Audi Q3,"1,805","2,336","1,415",794,"1,764","1,853","2,571","2,286","2,476","3,357","2,758","3,837",0
17,Audi Q5,"3,235","4,188","2,537","1,453","3,229","3,390","3,976","3,534","3,829","7,106","5,837","8,121",0
18,Audi Q7,"2,024","2,621","1,587",795,"1,767","1,856","2,151","1,912","2,071","2,897","2,380","3,311",0
19,Audi Q8,791,"1,024",620,357,794,834,"1,142","1,015","1,100","1,483","1,218","1,694",0
20,Audi R8,32,41,25,18,41,43,69,61,66,63,52,72,0
21,Audi TT,57,74,45,45,100,105,83,74,80,57,47,65,0
22,BMW 2-Series,576,745,451,685,"1,522","1,598","1,467","1,299",16,"1,636","1,344","1,870",0
23,BMW 3-Series,"3,447","4,463","2,703","1,388","3,085","3,239","3,638","3,222","1,383","4,292","3,525","4,905",0
24,BMW 4-Series,714,924,560,317,704,739,587,520,"3,430","1,303","1,070","1,489",0
25,BMW 5-Series,"1,752","2,269","1,374",889,"1,976","2,075","1,877","1,663",553,"3,740","3,072","4,275",0
26,BMW 6-Series,17,22,13,12,26,28,9,8,"1,770",19,15,21,0
27,BMW 7-Series,547,709,429,209,465,488,479,424,9,751,617,858,0
28,BMW 8-Series,550,712,431,314,699,734,742,657,699,734,603,839,0
29,BMW i3,21,27,16,34,75,79,216,191,203,216,177,247,1
30,BMW i8,21,28,17,9,20,21,17,15,16,9,8,11,0
31,BMW X1,"1,342","1,738","1,053",415,923,969,"1,275","1,129","1,202","1,458","1,198","1,666",0
32,BMW X2,742,961,582,318,707,743,613,543,578,533,438,610,0
33,BMW X3,"3,447","4,463","2,703","1,703","3,784","3,973","5,714","5,061","5,388","7,942","6,523","9,076",0
34,BMW X4,581,752,455,247,549,577,567,502,535,977,803,"1,117",0
35,BMW X5,"3,455","4,473","2,709","1,533","3,407","3,577","4,491","3,977","4,234","6,294","5,170","7,193",0
36,BMW X6,406,526,319,216,480,504,698,618,658,967,794,"1,105",0
37,BMW X7,"4,188","1,927","1,167",733,"1,628","1,710","1,709","1,513","1,611","2,376","1,952","2,716",0
38,BMW Z4,203,263,159,149,332,349,252,223,238,66,54,76,0
39,Buick Cascada,2,3,2,1,2,2,-,-,-,-,-,-,0
40,Buick Enclave,"2,843","3,680","2,229","1,342","2,981","3,130","3,484","3,097","3,355","4,162","3,419","4,757",0
41,Buick Encore,"5,469","7,081","4,289","1,806","4,013","4,214","3,907","3,473","3,763","2,138","1,756","2,444",0
42,Buick Encore GX,-,-,-,"1,666","3,702","3,888","5,617","4,993","5,409","5,723","4,701","6,541",0
43,Buick Envision,"2,252","2,915","1,766","1,419","3,152","3,310","4,087","3,633","3,935","2,859","2,348","3,267",0
44,Buick LaCrosse,45,58,35,13,28,30,2,2,2,5,4,5,0
45,Buick Regal,390,505,306,148,329,345,141,135,135,20,16,23,0
46,Cadillac ATS,15,20,12,8,18,19,6,5,6,2,2,2,0
47,Cadillac CT4,13,17,10,106,236,248,539,479,519,918,754,"1,049",0
48,Cadillac CT5,974,"1,262",764,464,"1,030","1,082","1,403","1,247","1,351","1,732","1,423","1,980",0
49,Cadillac CT6,560,725,439,149,330,347,148,132,142,49,40,56,0

In [8]:
allgasvehicles = allvehicles.loc[allvehicles["is_EV"] == 0]
allgasvehicles

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,is_EV
0,Acura ILX,935,"1,083",723,506,"1,039","1,109","1,230","1,331","1,377","1,523","1,141","1,417",0
1,Acura MDX,"2,961","3,843","2,137","1,725","3,331","3,977","4,494","5,165","4,920","4,732","4,491","6,040",0
2,Acura NSX,9,9,16,5,6,10,15,3,10,22,9,14,0
3,Acura RDX,"3,493","4,982","2,678","1,760","4,427","5,410","5,317","5,057","4,664","5,022","4,155","5,820",0
4,Acura RLX,63,84,31,26,71,126,134,118,122,126,81,72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,Volvo XC40,"1,303","1,615","1,052",930,"2,305","2,315","2,216","1,933","1,911","2,504","2,344","3,350",0
301,Volvo XC60,"1,737","2,276","1,556","1,053","2,723","2,867","2,637","2,981","2,632","3,571","3,756","4,289",0
302,Volvo XC90,"1,994","2,429","1,664","1,286","3,072","3,454","2,966","2,998","2,672","3,257","3,516","4,943",0
303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
304,NaN,"?êæ = 1,157,415","?êæ = 1,434,716","?êæ = 912,800","?êæ = 563,122","?êæ = 1,181,756","?êæ = 1,214,706","?êæ = 1,336,267","?êæ = 1,298,489","?êæ = 1,370,243","?êæ = 1,333,792","?êæ = 1,146,235","?êæ = 1,523,736",0

In [9]:
#borrowing Tanlin's code
allgasvehicles = allgasvehicles.dropna(subset = ["Model", "Jan","Feb","Mar","Apr","May","Jun","Jul","Aug", "Sep","Oct","Nov","Dec"])

allgasvehicles

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,is_EV
0,Acura ILX,935,"1,083",723,506,"1,039","1,109","1,230","1,331","1,377","1,523","1,141","1,417",0
1,Acura MDX,"2,961","3,843","2,137","1,725","3,331","3,977","4,494","5,165","4,920","4,732","4,491","6,040",0
2,Acura NSX,9,9,16,5,6,10,15,3,10,22,9,14,0
3,Acura RDX,"3,493","4,982","2,678","1,760","4,427","5,410","5,317","5,057","4,664","5,022","4,155","5,820",0
4,Acura RLX,63,84,31,26,71,126,134,118,122,126,81,72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Volvo 60-Series,"1,021","1,385",-,506,"1,241","1,486","1,546","1,790","2,341","1,213","1,736","1,464",0
299,Volvo 90-Series,102,136,116,91,178,263,332,676,718,146,239,198,0
300,Volvo XC40,"1,303","1,615","1,052",930,"2,305","2,315","2,216","1,933","1,911","2,504","2,344","3,350",0
301,Volvo XC60,"1,737","2,276","1,556","1,053","2,723","2,867","2,637","2,981","2,632","3,571","3,756","4,289",0
302,Volvo XC90,"1,994","2,429","1,664","1,286","3,072","3,454","2,966","2,998","2,672","3,257","3,516","4,943",0

In [10]:

#borrowing Tanlin's code
allgasvehicles = allgasvehicles.replace(["-"],"0")
allgasvehicles["Jan"] = allgasvehicles["Jan"].str.replace(",","").astype(float)
allgasvehicles["Feb"] = allgasvehicles["Feb"].str.replace(",","").astype(float)
allgasvehicles["Mar"] = allgasvehicles["Mar"].str.replace(",","").astype(float)
allgasvehicles["Apr"] = allgasvehicles["Apr"].str.replace(",","").astype(float)
allgasvehicles["May"] = allgasvehicles["May"].str.replace(",","").astype(float)
allgasvehicles["Jun"] = allgasvehicles["Jun"].str.replace(",","").astype(float)
allgasvehicles["Jul"] = allgasvehicles["Jul"].str.replace(",","").astype(float)
allgasvehicles["Aug"] = allgasvehicles["Aug"].str.replace(",","").astype(float)
allgasvehicles["Sep"] = allgasvehicles["Sep"].str.replace(",","").astype(float)
allgasvehicles["Oct"] = allgasvehicles["Oct"].str.replace(",","").astype(float)
allgasvehicles["Nov"] = allgasvehicles["Nov"].str.replace(",","").astype(float)
allgasvehicles["Dec"] = allgasvehicles["Dec"].str.replace(",","").astype(float)

In [11]:
allgasvehicles

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,is_EV
0,Acura ILX,935.0,1083.0,723.0,506.0,1039.0,1109.0,1230.0,1331.0,1377.0,1523.0,1141.0,1417.0,0
1,Acura MDX,2961.0,3843.0,2137.0,1725.0,3331.0,3977.0,4494.0,5165.0,4920.0,4732.0,4491.0,6040.0,0
2,Acura NSX,9.0,9.0,16.0,5.0,6.0,10.0,15.0,3.0,10.0,22.0,9.0,14.0,0
3,Acura RDX,3493.0,4982.0,2678.0,1760.0,4427.0,5410.0,5317.0,5057.0,4664.0,5022.0,4155.0,5820.0,0
4,Acura RLX,63.0,84.0,31.0,26.0,71.0,126.0,134.0,118.0,122.0,126.0,81.0,72.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Volvo 60-Series,1021.0,1385.0,0.0,506.0,1241.0,1486.0,1546.0,1790.0,2341.0,1213.0,1736.0,1464.0,0
299,Volvo 90-Series,102.0,136.0,116.0,91.0,178.0,263.0,332.0,676.0,718.0,146.0,239.0,198.0,0
300,Volvo XC40,1303.0,1615.0,1052.0,930.0,2305.0,2315.0,2216.0,1933.0,1911.0,2504.0,2344.0,3350.0,0
301,Volvo XC60,1737.0,2276.0,1556.0,1053.0,2723.0,2867.0,2637.0,2981.0,2632.0,3571.0,3756.0,4289.0,0
302,Volvo XC90,1994.0,2429.0,1664.0,1286.0,3072.0,3454.0,2966.0,2998.0,2672.0,3257.0,3516.0,4943.0,0

In [12]:
#borrowing Tanlin's code
allgasvehicles["sale total"] = allgasvehicles.sum(axis=1)
allgasvehicles

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,is_EV,sale total
0,Acura ILX,935.0,1083.0,723.0,506.0,1039.0,1109.0,1230.0,1331.0,1377.0,1523.0,1141.0,1417.0,0,13414.0
1,Acura MDX,2961.0,3843.0,2137.0,1725.0,3331.0,3977.0,4494.0,5165.0,4920.0,4732.0,4491.0,6040.0,0,47816.0
2,Acura NSX,9.0,9.0,16.0,5.0,6.0,10.0,15.0,3.0,10.0,22.0,9.0,14.0,0,128.0
3,Acura RDX,3493.0,4982.0,2678.0,1760.0,4427.0,5410.0,5317.0,5057.0,4664.0,5022.0,4155.0,5820.0,0,52785.0
4,Acura RLX,63.0,84.0,31.0,26.0,71.0,126.0,134.0,118.0,122.0,126.0,81.0,72.0,0,1054.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Volvo 60-Series,1021.0,1385.0,0.0,506.0,1241.0,1486.0,1546.0,1790.0,2341.0,1213.0,1736.0,1464.0,0,15729.0
299,Volvo 90-Series,102.0,136.0,116.0,91.0,178.0,263.0,332.0,676.0,718.0,146.0,239.0,198.0,0,3195.0
300,Volvo XC40,1303.0,1615.0,1052.0,930.0,2305.0,2315.0,2216.0,1933.0,1911.0,2504.0,2344.0,3350.0,0,23778.0
301,Volvo XC60,1737.0,2276.0,1556.0,1053.0,2723.0,2867.0,2637.0,2981.0,2632.0,3571.0,3756.0,4289.0,0,32078.0
302,Volvo XC90,1994.0,2429.0,1664.0,1286.0,3072.0,3454.0,2966.0,2998.0,2672.0,3257.0,3516.0,4943.0,0,34251.0

In [13]:
#borrowing Tanlin's code
allgasvehicles_sorted = allgasvehicles.sort_values(["sale total"], ascending = False)  
allgasvehicles_sorted

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,is_EV,sale total
97,Ford F-Series,60595.0,78449.0,47517.0,32549.0,72330.0,75947.0,77720.0,69085.0,74842.0,71593.0,52698.0,74047.0,0,787372.0
66,Chevrolet Silverado,46673.0,60425.0,36600.0,22038.0,48973.0,51421.0,51715.0,45969.0,49800.0,60535.0,49725.0,69183.0,0,593057.0
254,Ram Pickup,41836.0,54163.0,32807.0,21141.0,46979.0,49328.0,54756.0,48672.0,52728.0,54403.0,44688.0,62175.0,0,563676.0
279,Toyota RAV4,33130.0,39626.0,24875.0,15431.0,34292.0,36006.0,36323.0,39239.0,43652.0,40717.0,40250.0,46846.0,0,430387.0
120,Honda CR-V,26027.0,28268.0,16891.0,12201.0,29023.0,26488.0,20473.0,34391.0,33572.0,32415.0,25633.0,38120.0,0,323502.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Dodge Viper,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0,6.0
81,Dodge Dart,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,5.0
296,Volkswagen Touareg,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3.0
186,Lexus LFA,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,3.0
243,Nissan Quest,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0

In [14]:

allgasvehicles_reIndexed = allgasvehicles_sorted.reset_index(drop = True)
allgasvehicles_reIndexed.head(10)

,Model,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,is_EV,sale total
0,Ford F-Series,60595.0,78449.0,47517.0,32549.0,72330.0,75947.0,77720.0,69085.0,74842.0,71593.0,52698.0,74047.0,0,787372.0
1,Chevrolet Silverado,46673.0,60425.0,36600.0,22038.0,48973.0,51421.0,51715.0,45969.0,49800.0,60535.0,49725.0,69183.0,0,593057.0
2,Ram Pickup,41836.0,54163.0,32807.0,21141.0,46979.0,49328.0,54756.0,48672.0,52728.0,54403.0,44688.0,62175.0,0,563676.0
3,Toyota RAV4,33130.0,39626.0,24875.0,15431.0,34292.0,36006.0,36323.0,39239.0,43652.0,40717.0,40250.0,46846.0,0,430387.0
4,Honda CR-V,26027.0,28268.0,16891.0,12201.0,29023.0,26488.0,20473.0,34391.0,33572.0,32415.0,25633.0,38120.0,0,323502.0
5,Toyota Camry,24824.0,29245.0,23119.0,8768.0,19484.0,20459.0,22792.0,27892.0,28362.0,29666.0,29373.0,30364.0,0,294348.0
6,Chevrolet Equinox,23858.0,30887.0,18708.0,9144.0,20319.0,21335.0,23660.0,21031.0,22784.0,26741.0,21966.0,30561.0,0,270994.0
7,Honda Civic,20054.0,25617.0,18273.0,13410.0,27244.0,23260.0,25188.0,25524.0,22371.0,21865.0,17372.0,21047.0,0,261225.0
8,GMC Sierra,17217.0,22290.0,13501.0,9688.0,21530.0,22606.0,23778.0,21136.0,22898.0,26438.0,21717.0,30215.0,0,253014.0
9,Toyota Tacoma,17112.0,20609.0,15915.0,9191.0,20425.0,21446.0,17412.0,20579.0,20929.0,23774.0,22456.0,28957.0,0,238805.0

In [15]:
allgasvehicles_reIndexed.to_csv("../resources/gas_top_sale_list.csv")