In [5]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd

Miles_df =("Avg mileage per state - Sheet1.csv")
Car_df = ("Top Cars in each state EV_Gasoline - Sheet1.csv")
Prices_df =("Avg Gas and Electric per state - Sheet1.csv")
Miles_df = pd.read_csv(Miles_df)
Car_df = pd.read_csv(Car_df)
Prices_df = pd.read_csv(Prices_df)

In [6]:
for name, dtype in Car_df.dtypes.iteritems():
    print(name, dtype)

States object
Regular object
Electrical  object

In [7]:
Miles_df = Miles_df.rename(columns = {"Miles": "Avg Miles Driven per state"})

In [8]:
combined_Car_df = pd.merge(Car_df, Miles_df,
                                 how='outer', on='States')
combined_Car_df.head()

,States,Regular,Electrical,Registered Drivers,Avg Miles Driven per state
0,AL,RAM 1500,Nissan LEAF,"3,521,444","16,054"
1,AK,RAM 1500,Tesla Model X,"465,256","9,915"
2,AZ,RAM 1500,Tesla Model X,"3,433,995","14,493"
3,AR,RAM 1500,Nissan LEAF,"1,947,867","14,974"
4,CA,Honda Civic,Tesla Model S,"21,243,939","14,435"

In [9]:
Prices_df = Prices_df.rename(columns = {"Regular": "Average Price per Gallon"})
Prices_df = Prices_df.rename(columns = {"Average EV per Gallon": "Average Price per Gallon EV"})

In [10]:
Combined_Car_df = pd.merge(combined_Car_df, Prices_df,
                                 how='outer', on='States')
Combined_Car_df.head()

,States,Regular,Electrical,Registered Drivers,Avg Miles Driven per state,Average Price per Gallon,Average Price per Gallon EV,Saved per Gallon
0,AL,RAM 1500,Nissan LEAF,"3,521,444","16,054",$2.07,$1.14,$0.93
1,AK,RAM 1500,Tesla Model X,"465,256","9,915",$2.53,$2.02,$0.51
2,AZ,RAM 1500,Tesla Model X,"3,433,995","14,493",$2.31,$1.21,$1.10
3,AR,RAM 1500,Nissan LEAF,"1,947,867","14,974",$2.06,$0.90,$1.16
4,CA,Honda Civic,Tesla Model S,"21,243,939","14,435",$3.29,$1.72,$1.57

In [11]:
Combined_Car_df = Combined_Car_df.rename(columns = {"Electrical ": "Electrical"})
Gas_Miles_Df= Combined_Car_df[['States','Regular','Electrical','Avg Miles Driven per state',
                               'Average Price per Gallon']].copy()
Gas_Miles_Df

,States,Regular,Electrical,Avg Miles Driven per state,Average Price per Gallon
0,AL,RAM 1500,Nissan LEAF,"16,054",$2.07
1,AK,RAM 1500,Tesla Model X,"9,915",$2.53
2,AZ,RAM 1500,Tesla Model X,"14,493",$2.31
3,AR,RAM 1500,Nissan LEAF,"14,974",$2.06
4,CA,Honda Civic,Tesla Model S,"14,435",$3.29
5,CO,Ford F-Series,Tesla Model X,"13,443",$2.28
6,CT,Honda CR-V,Nissan LEAF,"11,595",$2.33
7,DE,Ford F-Series,Tesla Model S,"14,802",$2.42
8,FL,Toyota Corolla,Tesla Model S,"11,836",$2.30
9,GA,Ford F-Series,Nissan LEAF,"18,920",$2.15
10,HI,Toyota Tacoma,Nissan LEAF,"11,104",$3.30
11,ID,Ford F-Series,Chevy Bolt,"15,318",$2.22
12,IL,Ford F-Series,Nissan LEAF,"12,921",$2.46
13,IN,Chevrolet Silverado,Nissan LEAF,"17,821",$2.31
14,IA,Chevrolet Silverado,Tesla Model X,"15,074",$2.23
15,KS,Ford F-Series,Nissan LEAF,"14,742",$2.07
16,KY,Chevrolet Silverado,Tesla Model S,"17,370",$2.21
17,LA,Ford F-Series,Nissan LEAF,"14,805",$2.01
18,ME,Ford F-Series,Nissan LEAF,"15,420",$2.32
19,MD,Toyota RAV4,Tesla Model S,"14,834",$2.40
20,MA,Toyota RAV4,Chevy Bolt,"11,759",$2.26
21,MI,Ford F-Series,Chevy Bolt,"14,121",$2.17
22,MN,Chevrolet Silverado,Tesla Model S,"17,887",$2.19
23,MS,Ford F-Series,Nissan LEAF,"17,699",$1.98
24,MO,Ford F-Series,Tesla Model S,"17,396",$2.03
25,MT,Ford F-Series,Tesla Model S,"14,556",$2.25
26,NE,Ford F-Series,Tesla Model S,"15,128",$2.24
27,NV,RAM 1500,Tesla Model S,"12,869",$2.66
28,NH,Ford F-Series,Chevy Bolt,"12,931",$2.23
29,NJ,Honda CR-V,Tesla Model S,"11,927",$2.45
30,NM,Ford F-Series,Nissan LEAF,"18,369",$2.21
31,NY,Honda CR-V,Nissan LEAF,"11,871",$2.38
32,NC,Ford F-Series,Nissan LEAF,"15,729",$2.19
33,ND,Ford F-Series,Tesla Model X,"15,725",$2.21
34,OH,Ford F-Series,Nissan LEAF,"12,906",$2.26
35,OK,Ford F-Series,Nissan LEAF,"18,891",$2.04
36,OR,Toyota RAV4,Nissan LEAF,"14,032",$2.63
37,PA,Ford F-Series,Tesla Model S,"12,435",$2.61
38,RI,Toyota RAV4,Nissan LEAF,"12,781",$2.26
39,SC,Ford F-Series,Nissan LEAF,"16,020",$2.09
40,SD,Ford F-Series,Chevy Bolt,"15,505",$2.27
41,TN,Ford F-Series,Nissan LEAF,"15,462",$2.12
42,TX,Ford F-Series,Tesla Model S,"16,347",$2.00
43,UT,Ford F-Series,Nissan LEAF,"15,442",$2.22
44,VT,Ford F-Series,Chevy Bolt,"13,458",$2.29
45,VA,Ford F-Series,Tesla Model S,"15,464",$2.18
46,WA,Toyota RAV4,Nissan LEAF,"12,837",$2.77
47,WV,Ford F-Series,Chevy Bolt,"14,283",$2.29
48,WI,Ford F-Series,Tesla Model S,"15,188",$2.16
49,WY,RAM 1500,Chevy Bolt,"21,821",$2.23

In [12]:
Ev_Regualar_DF = ("Electric Vs Regular - Sheet1.csv")
Ev_Regualar_DF = pd.read_csv(Ev_Regualar_DF)
Ev_Regualar_DF.head()

,Model,2020 quarter,2019 quarter,Change %,Types,List Pricing,Max Mileage,MPG,kWh/100 mi
0,Audi eTron,"2,034","1,829",11.2,Electric,77400,204,NaN,46.0
1,BMW i3,640,"1,491",-57.1,Electric,44450,153,NaN,30.0
2,Chevrolet Bolt,"6,702","3,307",102.7,Electric,36620,238,NaN,29.0
3,Chevrolet Silverado,"179,443","163,311",9.9,Gasoline,48485,450,20.0,NaN
4,Ford F-Series,"198,338","233,952",-15.2,Diesel,28745,500,22.0,NaN

In [13]:
Ev_Regualar_DF['MPG'] = Ev_Regualar_DF['MPG'].fillna(0)
Ev_Regualar_DF['kWh/100 mi'] = Ev_Regualar_DF['kWh/100 mi'].fillna(0)
Ev_Regualar_DF

,Model,2020 quarter,2019 quarter,Change %,Types,List Pricing,Max Mileage,MPG,kWh/100 mi
0,Audi eTron,"2,034","1,829",11.2,Electric,77400,204,0.0,46.0
1,BMW i3,640,"1,491",-57.1,Electric,44450,153,0.0,30.0
2,Chevrolet Bolt,"6,702","3,307",102.7,Electric,36620,238,0.0,29.0
3,Chevrolet Silverado,"179,443","163,311",9.9,Gasoline,48485,450,20.0,0.0
4,Ford F-Series,"198,338","233,952",-15.2,Diesel,28745,500,22.0,0.0
5,GMC Sierra,"78,370","68,722",14.0,Regular,44000,440,17.0,0.0
6,Honda Civic,"60,284","70,166",-14.1,Regular,20000,430,37.0,0.0
7,Honda CR-V,"96,168","103,429",-7.0,Regular,25150,406,31.0,0.0
8,Hyundai Kona,NaN,NaN,NaN,Electric,37190,258,0.0,27.0
9,Hyundai Ioniq,"4,331","5,428",-20.2,Electric,33945,193,0.0,25.0
10,Nissan Leaf,"4,635","3,254",42.4,Electric,31600,157,0.0,30.0
11,Ram Pickup,"161,266","172,579",-6.6,Regular,32154,560,22.0,0.0
12,Tesla Model 3,0,"47,275",-100.0,Electric,37990,348,0.0,26.0
13,Tesla Model S,0,"3,750",-100.0,Electric,74990,379,0.0,30.0
14,Tesla Model X,0,"5,500",-100.0,Electric,79990,315,0.0,35.0
15,Tesla Model Y,0,0,0.0,Electric,49900,314,0.0,28.0
16,Toyota Camry,"89,403","78,522",13.9,Regular,24970,686,33.0,0.0
17,Toyota Corolla,"70,965","70,872",0.1,Regular,19600,488,35.0,0.0
18,Toyota RAV4,"127,813","123,446",3.5,Regular,25950,400,30.0,0.0
19,Toyota Tacoma,"75,187","61,179",22.9,Regular,26050,380,20.0,0.0

In [14]:
Ev_Regualar_DF['Max Gallons'] = Ev_Regualar_DF['Max Mileage']/Ev_Regualar_DF['MPG']
Ev_Regualar_DF['Max EV kWh'] = Ev_Regualar_DF['Max Mileage']/(100/Ev_Regualar_DF['kWh/100 mi'])
Ev_Regualar_DF

,Model,2020 quarter,2019 quarter,Change %,Types,List Pricing,Max Mileage,MPG,kWh/100 mi,Max Gallons,Max EV kWh
0,Audi eTron,"2,034","1,829",11.2,Electric,77400,204,0.0,46.0,inf,93.84
1,BMW i3,640,"1,491",-57.1,Electric,44450,153,0.0,30.0,inf,45.90
2,Chevrolet Bolt,"6,702","3,307",102.7,Electric,36620,238,0.0,29.0,inf,69.02
3,Chevrolet Silverado,"179,443","163,311",9.9,Gasoline,48485,450,20.0,0.0,22.500000,0.00
4,Ford F-Series,"198,338","233,952",-15.2,Diesel,28745,500,22.0,0.0,22.727273,0.00
5,GMC Sierra,"78,370","68,722",14.0,Regular,44000,440,17.0,0.0,25.882353,0.00
6,Honda Civic,"60,284","70,166",-14.1,Regular,20000,430,37.0,0.0,11.621622,0.00
7,Honda CR-V,"96,168","103,429",-7.0,Regular,25150,406,31.0,0.0,13.096774,0.00
8,Hyundai Kona,NaN,NaN,NaN,Electric,37190,258,0.0,27.0,inf,69.66
9,Hyundai Ioniq,"4,331","5,428",-20.2,Electric,33945,193,0.0,25.0,inf,48.25
10,Nissan Leaf,"4,635","3,254",42.4,Electric,31600,157,0.0,30.0,inf,47.10
11,Ram Pickup,"161,266","172,579",-6.6,Regular,32154,560,22.0,0.0,25.454545,0.00
12,Tesla Model 3,0,"47,275",-100.0,Electric,37990,348,0.0,26.0,inf,90.48
13,Tesla Model S,0,"3,750",-100.0,Electric,74990,379,0.0,30.0,inf,113.70
14,Tesla Model X,0,"5,500",-100.0,Electric,79990,315,0.0,35.0,inf,110.25
15,Tesla Model Y,0,0,0.0,Electric,49900,314,0.0,28.0,inf,87.92
16,Toyota Camry,"89,403","78,522",13.9,Regular,24970,686,33.0,0.0,20.787879,0.00
17,Toyota Corolla,"70,965","70,872",0.1,Regular,19600,488,35.0,0.0,13.942857,0.00
18,Toyota RAV4,"127,813","123,446",3.5,Regular,25950,400,30.0,0.0,13.333333,0.00
19,Toyota Tacoma,"75,187","61,179",22.9,Regular,26050,380,20.0,0.0,19.000000,0.00

In [15]:
New_Ev_Regualar_DF= Ev_Regualar_DF[['Model','Types','List Pricing','Max Mileage','MPG',
                                   'kWh/100 mi','Max Gallons','Max EV kWh']].copy()
New_Ev_Regualar_DF['Full Gasoline Price'] = New_Ev_Regualar_DF['Max Gallons'] * 3.29
New_Ev_Regualar_DF

,Model,Types,List Pricing,Max Mileage,MPG,kWh/100 mi,Max Gallons,Max EV kWh,Full Gasoline Price
0,Audi eTron,Electric,77400,204,0.0,46.0,inf,93.84,inf
1,BMW i3,Electric,44450,153,0.0,30.0,inf,45.90,inf
2,Chevrolet Bolt,Electric,36620,238,0.0,29.0,inf,69.02,inf
3,Chevrolet Silverado,Gasoline,48485,450,20.0,0.0,22.500000,0.00,74.025000
4,Ford F-Series,Diesel,28745,500,22.0,0.0,22.727273,0.00,74.772727
5,GMC Sierra,Regular,44000,440,17.0,0.0,25.882353,0.00,85.152941
6,Honda Civic,Regular,20000,430,37.0,0.0,11.621622,0.00,38.235135
7,Honda CR-V,Regular,25150,406,31.0,0.0,13.096774,0.00,43.088387
8,Hyundai Kona,Electric,37190,258,0.0,27.0,inf,69.66,inf
9,Hyundai Ioniq,Electric,33945,193,0.0,25.0,inf,48.25,inf
10,Nissan Leaf,Electric,31600,157,0.0,30.0,inf,47.10,inf
11,Ram Pickup,Regular,32154,560,22.0,0.0,25.454545,0.00,83.745455
12,Tesla Model 3,Electric,37990,348,0.0,26.0,inf,90.48,inf
13,Tesla Model S,Electric,74990,379,0.0,30.0,inf,113.70,inf
14,Tesla Model X,Electric,79990,315,0.0,35.0,inf,110.25,inf
15,Tesla Model Y,Electric,49900,314,0.0,28.0,inf,87.92,inf
16,Toyota Camry,Regular,24970,686,33.0,0.0,20.787879,0.00,68.392121
17,Toyota Corolla,Regular,19600,488,35.0,0.0,13.942857,0.00,45.872000
18,Toyota RAV4,Regular,25950,400,30.0,0.0,13.333333,0.00,43.866667
19,Toyota Tacoma,Regular,26050,380,20.0,0.0,19.000000,0.00,62.510000

In [16]:
Cali_Ev_Regular = New_Ev_Regualar_DF
Cali_Ev_Regular = Cali_Ev_Regular[~Cali_Ev_Regular.isin([np.inf])]
Cali_Ev_Regular['Max Gallons'].fillna(0, inplace=True)
Cali_Ev_Regular['Full Gasoline Price'].fillna(0, inplace=True)
Cali_Ev_Regular

NameError: name 'np' is not defined

In [17]:
Cali_Ev_Regular['Yearly_Gas_Price_Cali'] = (14435/ Cali_Ev_Regular['Max Mileage'])* (Cali_Ev_Regular['Full Gasoline Price'])
Cali_Ev_Regular

,Model,Types,List Pricing,Max Mileage,MPG,kWh/100 mi,Max Gallons,Max EV kWh,Full Gasoline Price,Yearly_Gas_Price_Cali
0,Audi eTron,Electric,77400,204,0.0,46.0,inf,93.84,inf,inf
1,BMW i3,Electric,44450,153,0.0,30.0,inf,45.90,inf,inf
2,Chevrolet Bolt,Electric,36620,238,0.0,29.0,inf,69.02,inf,inf
3,Chevrolet Silverado,Gasoline,48485,450,20.0,0.0,22.500000,0.00,74.025000,2374.557500
4,Ford F-Series,Diesel,28745,500,22.0,0.0,22.727273,0.00,74.772727,2158.688636
5,GMC Sierra,Regular,44000,440,17.0,0.0,25.882353,0.00,85.152941,2793.597059
6,Honda Civic,Regular,20000,430,37.0,0.0,11.621622,0.00,38.235135,1283.544595
7,Honda CR-V,Regular,25150,406,31.0,0.0,13.096774,0.00,43.088387,1531.972581
8,Hyundai Kona,Electric,37190,258,0.0,27.0,inf,69.66,inf,inf
9,Hyundai Ioniq,Electric,33945,193,0.0,25.0,inf,48.25,inf,inf
10,Nissan Leaf,Electric,31600,157,0.0,30.0,inf,47.10,inf,inf
11,Ram Pickup,Regular,32154,560,22.0,0.0,25.454545,0.00,83.745455,2158.688636
12,Tesla Model 3,Electric,37990,348,0.0,26.0,inf,90.48,inf,inf
13,Tesla Model S,Electric,74990,379,0.0,30.0,inf,113.70,inf,inf
14,Tesla Model X,Electric,79990,315,0.0,35.0,inf,110.25,inf,inf
15,Tesla Model Y,Electric,49900,314,0.0,28.0,inf,87.92,inf,inf
16,Toyota Camry,Regular,24970,686,33.0,0.0,20.787879,0.00,68.392121,1439.125758
17,Toyota Corolla,Regular,19600,488,35.0,0.0,13.942857,0.00,45.872000,1356.890000
18,Toyota RAV4,Regular,25950,400,30.0,0.0,13.333333,0.00,43.866667,1583.038333
19,Toyota Tacoma,Regular,26050,380,20.0,0.0,19.000000,0.00,62.510000,2374.557500

In [18]:
kWh_rate = ("kWh Rate per state - Sheet1.csv")
kWh_rate = pd.read_csv(kWh_rate)
kWh_rate.head()

  States  Avg kWh Rate
0     AL         21.79
1     AK         11.76
2     AZ          9.30
3     AR         12.12
4     CA         18.31

In [19]:
Cali_Ev_Regular['Yearly_EV_Price_Cali'] =((14435/Cali_Ev_Regular['Max Mileage'])*(Cali_Ev_Regular['Max EV kWh'] * .1831))

# Ev and Regular Data Frame for Mileage and Price

In [20]:
Ev_Regular_DF= Ev_Regualar_DF[['Model','Types','List Pricing','Max Mileage','MPG',
                                   'kWh/100 mi','Max Gallons','Max EV kWh']].copy()

In [21]:
#Regular Car DF
Regular_DF = Ev_Regular_DF
indexNames = Regular_DF[ Regular_DF['Types'] == 'Electric' ].index
Regular_DF.drop(indexNames , inplace=True)
Regular_DF = Regular_DF.assign(Types='Regular')
del Regular_DF['kWh/100 mi']
del Regular_DF['Max EV kWh']
Regular_DF = Regular_DF.rename(columns = {"Model": "Regular"})
Regular_DF['Regular'] = Regular_DF['Regular'].str.replace('Ram Pickup', 'RAM 1500')
Regular_DF

                Regular    Types  List Pricing  Max Mileage   MPG  Max Gallons
3   Chevrolet Silverado  Regular         48485          450  20.0    22.500000
4         Ford F-Series  Regular         28745          500  22.0    22.727273
5            GMC Sierra  Regular         44000          440  17.0    25.882353
6           Honda Civic  Regular         20000          430  37.0    11.621622
7            Honda CR-V  Regular         25150          406  31.0    13.096774
11             RAM 1500  Regular         32154          560  22.0    25.454545
16         Toyota Camry  Regular         24970          686  33.0    20.787879
17       Toyota Corolla  Regular         19600          488  35.0    13.942857
18          Toyota RAV4  Regular         25950          400  30.0    13.333333
19        Toyota Tacoma  Regular         26050          380  20.0    19.000000

In [22]:
#Ev dataframe
EV_DF = Ev_Regualar_DF[['Model','Types','List Pricing','Max Mileage','MPG',
                                   'kWh/100 mi','Max Gallons','Max EV kWh']].copy()
indexNames = EV_DF[ EV_DF['Types'] == 'Regular'].index
EV_DF.drop(indexNames , inplace=True)
indexNames = EV_DF[ EV_DF['Types'] == 'Gasoline'].index
EV_DF.drop(indexNames , inplace=True)
indexNames = EV_DF[ EV_DF['Types'] == 'Diesel'].index
EV_DF.drop(indexNames , inplace=True)
del EV_DF['MPG']
del EV_DF['Max Gallons']
EV_DF = EV_DF.rename(columns = {"Model": "Electrical"})
EV_DF['Electrical'] = EV_DF['Electrical'].str.replace('Nissan Leaf', 'Nissan LEAF')
EV_DF['Electrical'] = EV_DF['Electrical'].str.replace('Chevrolet Bolt', 'Chevy Bolt')
EV_DF.head()

      Electrical     Types  List Pricing  Max Mileage  kWh/100 mi  Max EV kWh
0     Audi eTron  Electric         77400          204        46.0       93.84
1         BMW i3  Electric         44450          153        30.0       45.90
2     Chevy Bolt  Electric         36620          238        29.0       69.02
8   Hyundai Kona  Electric         37190          258        27.0       69.66
9  Hyundai Ioniq  Electric         33945          193        25.0       48.25

In [23]:
Regular_Combined_df = pd.merge(Gas_Miles_Df, Regular_DF,
                                 how='outer', on='Regular')
del Regular_Combined_df['Types']
del Regular_Combined_df['Electrical']
Regular_Combined_df['Max Gallons']= Regular_Combined_df["Max Gallons"].map("{:,.2f}".format)
Regular_Combined_df.head()
#Max Gallons added to Regular DF

,States,Regular,Avg Miles Driven per state,Average Price per Gallon,List Pricing,Max Mileage,MPG,Max Gallons
0,AL,RAM 1500,"16,054",$2.07,32154,560,22.0,25.45
1,AK,RAM 1500,"9,915",$2.53,32154,560,22.0,25.45
2,AZ,RAM 1500,"14,493",$2.31,32154,560,22.0,25.45
3,AR,RAM 1500,"14,974",$2.06,32154,560,22.0,25.45
4,NV,RAM 1500,"12,869",$2.66,32154,560,22.0,25.45

In [24]:
EV_Combined_df = pd.merge(Gas_Miles_Df, EV_DF,
                                 how='outer', on='Electrical')
EV_Combined_df = pd.merge(EV_Combined_df, kWh_rate,
                                 how='outer', on='States')
Ev_Regular_DF.head()
del EV_Combined_df['Types']
del EV_Combined_df['Regular']
del EV_Combined_df['Average Price per Gallon']
EV_Combined_df['Avg kWh Rate'].round(5)
EV_Combined_df.head()
#kWh rate and avg cents per rate given

,States,Electrical,Avg Miles Driven per state,List Pricing,Max Mileage,kWh/100 mi,Max EV kWh,Avg kWh Rate
0,AL,Nissan LEAF,"16,054",31600,157,30.0,47.1,21.79
1,AR,Nissan LEAF,"14,974",31600,157,30.0,47.1,12.12
2,CT,Nissan LEAF,"11,595",31600,157,30.0,47.1,21.50
3,GA,Nissan LEAF,"18,920",31600,157,30.0,47.1,11.01
4,HI,Nissan LEAF,"11,104",31600,157,30.0,47.1,32.08

In [25]:
Regular_Combined_df['Average Price per Gallon'] = Regular_Combined_df['Average Price per Gallon'].str.replace('$', '')
Regular_Combined_df['Average Price per Gallon'] = Regular_Combined_df['Average Price per Gallon'].astype('float')
Regular_Combined_df['Max Gallons'] = Regular_Combined_df['Max Gallons'].astype('float')
for name, dtype in Regular_Combined_df.dtypes.iteritems():
    print(name, dtype)

States object
Regular object
Avg Miles Driven per state object
Average Price per Gallon float64
List Pricing int64
Max Mileage int64
MPG float64
Max Gallons float64

In [26]:
Regular_Combined_df['Full Gasoline Price'] = (Regular_Combined_df['Max Gallons'] * Regular_Combined_df['Average Price per Gallon'])
Regular_Combined_df['Avg Miles Driven per state'] = Regular_Combined_df['Avg Miles Driven per state'].str.replace(',', '')
Regular_Combined_df['Avg Miles Driven per state'] = Regular_Combined_df['Avg Miles Driven per state'].astype('float')
Regular_Combined_df['Yearly Gas Price']= (Regular_Combined_df['Avg Miles Driven per state']/Regular_Combined_df['Max Mileage'])*Regular_Combined_df['Full Gasoline Price']
Regular_Combined_df['Yearly Gas Price']= Regular_Combined_df["Yearly Gas Price"].map("{:,.2f}".format)
Regular_Combined_df.head()

,States,Regular,Avg Miles Driven per state,Average Price per Gallon,List Pricing,Max Mileage,MPG,Max Gallons,Full Gasoline Price,Yearly Gas Price
0,AL,RAM 1500,16054.0,2.07,32154,560,22.0,25.45,52.6815,"1,510.27"
1,AK,RAM 1500,9915.0,2.53,32154,560,22.0,25.45,64.3885,"1,140.02"
2,AZ,RAM 1500,14493.0,2.31,32154,560,22.0,25.45,58.7895,"1,521.49"
3,AR,RAM 1500,14974.0,2.06,32154,560,22.0,25.45,52.4270,"1,401.86"
4,NV,RAM 1500,12869.0,2.66,32154,560,22.0,25.45,67.6970,"1,555.70"

In [27]:
EV_Combined_df['Avg Miles Driven per state'] = EV_Combined_df['Avg Miles Driven per state'].str.replace(',', '')
EV_Combined_df['Avg Miles Driven per state'] = EV_Combined_df['Avg Miles Driven per state'].astype('float')
EV_Combined_df.fillna(0)
for name, dtype in EV_Combined_df.dtypes.iteritems():
    print(name, dtype)

States object
Electrical object
Avg Miles Driven per state float64
List Pricing int64
Max Mileage int64
kWh/100 mi float64
Max EV kWh float64
Avg kWh Rate float64

In [28]:
import pandas as pd
pd.options.mode.chained_assignment = None 
EV_Combined_df['Yearly Electric Price']= ((EV_Combined_df['Avg Miles Driven per state']/EV_Combined_df['Max Mileage'])*(EV_Combined_df['Max EV kWh']*EV_Combined_df['Avg kWh Rate']))/100
EV_Combined_df['Yearly Electric Price']= EV_Combined_df["Yearly Electric Price"].map("{:,.2f}".format)
EV_Combined_df = EV_Combined_df.iloc[:-5]
EV_Combined_df

,States,Electrical,Avg Miles Driven per state,List Pricing,Max Mileage,kWh/100 mi,Max EV kWh,Avg kWh Rate,Yearly Electric Price
0,AL,Nissan LEAF,16054.0,31600,157,30.0,47.10,21.79,"1,049.45"
1,AR,Nissan LEAF,14974.0,31600,157,30.0,47.10,12.12,544.45
2,CT,Nissan LEAF,11595.0,31600,157,30.0,47.10,21.50,747.88
3,GA,Nissan LEAF,18920.0,31600,157,30.0,47.10,11.01,624.93
4,HI,Nissan LEAF,11104.0,31600,157,30.0,47.10,32.08,"1,068.65"
5,IL,Nissan LEAF,12921.0,31600,157,30.0,47.10,9.81,380.27
6,IN,Nissan LEAF,17821.0,31600,157,30.0,47.10,12.38,661.87
7,KS,Nissan LEAF,14742.0,31600,157,30.0,47.10,10.33,456.85
8,LA,Nissan LEAF,14805.0,31600,157,30.0,47.10,9.12,405.06
9,ME,Nissan LEAF,15420.0,31600,157,30.0,47.10,21.96,"1,015.87"
10,MS,Nissan LEAF,17699.0,31600,157,30.0,47.10,9.58,508.67
11,NM,Nissan LEAF,18369.0,31600,157,30.0,47.10,15.71,865.73
12,NY,Nissan LEAF,11871.0,31600,157,30.0,47.10,12.18,433.77
13,NC,Nissan LEAF,15729.0,31600,157,30.0,47.10,11.76,554.92
14,OH,Nissan LEAF,12906.0,31600,157,30.0,47.10,12.18,471.59
15,OK,Nissan LEAF,18891.0,31600,157,30.0,47.10,8.88,503.26
16,OR,Nissan LEAF,14032.0,31600,157,30.0,47.10,10.67,449.16
17,RI,Nissan LEAF,12781.0,31600,157,30.0,47.10,22.68,869.62
18,SC,Nissan LEAF,16020.0,31600,157,30.0,47.10,12.10,581.53
19,TN,Nissan LEAF,15462.0,31600,157,30.0,47.10,10.88,504.68
20,UT,Nissan LEAF,15442.0,31600,157,30.0,47.10,9.93,460.02
21,WA,Nissan LEAF,12837.0,31600,157,30.0,47.10,9.41,362.39
22,AK,Tesla Model X,9915.0,79990,315,35.0,110.25,11.76,408.10
23,AZ,Tesla Model X,14493.0,79990,315,35.0,110.25,9.30,471.75
24,CO,Tesla Model X,13443.0,79990,315,35.0,110.25,11.91,560.37
25,IA,Tesla Model X,15074.0,79990,315,35.0,110.25,12.14,640.49
26,ND,Tesla Model X,15725.0,79990,315,35.0,110.25,17.30,952.15
27,CA,Tesla Model S,14435.0,74990,379,30.0,113.70,18.31,792.91
28,DE,Tesla Model S,14802.0,74990,379,30.0,113.70,12.14,539.09
29,FL,Tesla Model S,11836.0,74990,379,30.0,113.70,11.65,413.67
30,KY,Tesla Model S,17370.0,74990,379,30.0,113.70,10.34,538.82
31,MD,Tesla Model S,14834.0,74990,379,30.0,113.70,13.07,581.64
32,MN,Tesla Model S,17887.0,74990,379,30.0,113.70,12.55,673.45
33,MO,Tesla Model S,17396.0,74990,379,30.0,113.70,10.89,568.33
34,MT,Tesla Model S,14556.0,74990,379,30.0,113.70,10.59,462.44
35,NE,Tesla Model S,15128.0,74990,379,30.0,113.70,10.86,492.87
36,NV,Tesla Model S,12869.0,74990,379,30.0,113.70,9.11,351.71
37,NJ,Tesla Model S,11927.0,74990,379,30.0,113.70,19.93,713.12
38,PA,Tesla Model S,12435.0,74990,379,30.0,113.70,12.55,468.18
39,TX,Tesla Model S,16347.0,74990,379,30.0,113.70,11.44,561.03
40,VA,Tesla Model S,15464.0,74990,379,30.0,113.70,16.78,778.46
41,WI,Tesla Model S,15188.0,74990,379,30.0,113.70,9.84,448.35
42,ID,Chevy Bolt,15318.0,36620,238,29.0,69.02,11.00,488.64
43,MA,Chevy Bolt,11759.0,36620,238,29.0,69.02,17.27,588.93
44,MI,Chevy Bolt,14121.0,36620,238,29.0,69.02,14.91,610.58
45,NH,Chevy Bolt,12931.0,36620,238,29.0,69.02,9.51,356.62
46,SD,Chevy Bolt,15505.0,36620,238,29.0,69.02,10.55,474.38
47,VT,Chevy Bolt,13458.0,36620,238,29.0,69.02,11.48,448.04
48,WV,Chevy Bolt,14283.0,36620,238,29.0,69.02,13.56,561.66
49,WY,Chevy Bolt,21821.0,36620,238,29.0,69.02,10.53,666.35
50,NaN,Audi eTron,NaN,77400,204,46.0,93.84,NaN,nan

In [29]:
EV_Yearly_Price = EV_Combined_df[['States','Electrical','List Pricing','Yearly Electric Price']].copy()
Regular_Yearly_Price = Regular_Combined_df[['States','Regular','List Pricing','Yearly Gas Price']].copy()
EV_Yearly_Price = EV_Yearly_Price.rename(columns = {"List Pricing": "EV List Pricing"})
Regular_Yearly_Price = Regular_Yearly_Price.rename(columns = {"List Pricing": "Regular List Pricing"})
Yearly_Price_Both = pd.merge(Regular_Yearly_Price, EV_Yearly_Price,
                                 how='outer', on='States')
Yearly_Price_Both.head()

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price
0,AL,RAM 1500,32154,"1,510.27",Nissan LEAF,31600,"1,049.45"
1,AK,RAM 1500,32154,"1,140.02",Tesla Model X,79990,408.10
2,AZ,RAM 1500,32154,"1,521.49",Tesla Model X,79990,471.75
3,AR,RAM 1500,32154,"1,401.86",Nissan LEAF,31600,544.45
4,NV,RAM 1500,32154,"1,555.70",Tesla Model S,74990,351.71

In [30]:
Yearly_Price_Both['Yearly Gas Price'] = Yearly_Price_Both['Yearly Gas Price'].str.replace(',', '')
Yearly_Price_Both['Yearly Gas Price'] = Yearly_Price_Both['Yearly Gas Price'].astype('float')
Yearly_Price_Both['Yearly Electric Price'] = EV_Combined_df['Yearly Electric Price'].str.replace(',', '')
Yearly_Price_Both['Yearly Electric Price'] = Yearly_Price_Both['Yearly Electric Price'].astype('float')

In [34]:
Yearly_Price_Both['Yearly Price Difference'] = Yearly_Price_Both['Yearly Gas Price'] - Yearly_Price_Both['Yearly Electric Price']
Yearly_Price_Both['List Price Difference'] = Yearly_Price_Both['Regular List Pricing'] - Yearly_Price_Both['EV List Pricing']
Yearly_Price_Both = Yearly_Price_Both.iloc[:-2]
Yearly_Price_Both

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference
0,AL,RAM 1500,32154,1510.27,Nissan LEAF,31600,1049.45,460.82,554
1,AK,RAM 1500,32154,1140.02,Tesla Model X,79990,544.45,595.57,-47836
2,AZ,RAM 1500,32154,1521.49,Tesla Model X,79990,747.88,773.61,-47836
3,AR,RAM 1500,32154,1401.86,Nissan LEAF,31600,624.93,776.93,554
4,NV,RAM 1500,32154,1555.70,Tesla Model S,74990,1068.65,487.05,-42836
5,WY,RAM 1500,32154,2211.46,Chevy Bolt,36620,380.27,1831.19,-4466
6,CA,Honda Civic,20000,1283.37,Tesla Model S,74990,661.87,621.50,-54990
7,CO,Ford F-Series,28745,1393.35,Tesla Model X,79990,456.85,936.50,-51245
8,DE,Ford F-Series,28745,1628.42,Tesla Model S,74990,405.06,1223.36,-46245
9,GA,Ford F-Series,28745,1849.22,Nissan LEAF,31600,1015.87,833.35,-2855
10,ID,Ford F-Series,28745,1545.91,Chevy Bolt,36620,508.67,1037.24,-7875
11,IL,Ford F-Series,28745,1444.98,Nissan LEAF,31600,865.73,579.25,-2855
12,KS,Ford F-Series,28745,1387.25,Nissan LEAF,31600,433.77,953.48,-2855
13,LA,Ford F-Series,28745,1352.80,Nissan LEAF,31600,554.92,797.88,-2855
14,ME,Ford F-Series,28745,1626.30,Nissan LEAF,31600,471.59,1154.71,-2855
15,MI,Ford F-Series,28745,1393.01,Chevy Bolt,36620,503.26,889.75,-7875
16,MS,Ford F-Series,28745,1593.10,Nissan LEAF,31600,449.16,1143.94,-2855
17,MO,Ford F-Series,28745,1605.37,Tesla Model S,74990,869.62,735.75,-46245
18,MT,Ford F-Series,28745,1488.86,Tesla Model S,74990,581.53,907.33,-46245
19,NE,Ford F-Series,28745,1540.49,Tesla Model S,74990,504.68,1035.81,-46245
20,NH,Ford F-Series,28745,1310.89,Chevy Bolt,36620,460.02,850.87,-7875
21,NM,Ford F-Series,28745,1845.47,Nissan LEAF,31600,362.39,1483.08,-2855
22,NC,Ford F-Series,28745,1565.94,Nissan LEAF,31600,408.10,1157.84,-2855
23,ND,Ford F-Series,28745,1579.84,Tesla Model X,79990,471.75,1108.09,-51245
24,OH,Ford F-Series,28745,1325.96,Nissan LEAF,31600,560.37,765.59,-2855
25,OK,Ford F-Series,28745,1751.92,Nissan LEAF,31600,640.49,1111.43,-2855
26,PA,Ford F-Series,28745,1475.42,Tesla Model S,74990,952.15,523.27,-46245
27,SC,Ford F-Series,28745,1522.08,Nissan LEAF,31600,792.91,729.17,-2855
28,SD,Ford F-Series,28745,1600.03,Chevy Bolt,36620,539.09,1060.94,-7875
29,TN,Ford F-Series,28745,1490.15,Nissan LEAF,31600,413.67,1076.48,-2855
30,TX,Ford F-Series,28745,1486.27,Tesla Model S,74990,538.82,947.45,-46245
31,UT,Ford F-Series,28745,1558.43,Nissan LEAF,31600,581.64,976.79,-2855
32,VT,Ford F-Series,28745,1401.02,Chevy Bolt,36620,673.45,727.57,-7875
33,VA,Ford F-Series,28745,1532.53,Tesla Model S,74990,568.33,964.20,-46245
34,WV,Ford F-Series,28745,1486.91,Chevy Bolt,36620,462.44,1024.47,-7875
35,WI,Ford F-Series,28745,1491.36,Tesla Model S,74990,492.87,998.49,-46245
36,CT,Honda CR-V,25150,871.71,Nissan LEAF,31600,351.71,520.00,-6450
37,NJ,Honda CR-V,25150,942.85,Tesla Model S,74990,713.12,229.73,-49840
38,NY,Honda CR-V,25150,911.61,Nissan LEAF,31600,468.18,443.43,-6450
39,FL,Toyota Corolla,19600,777.63,Tesla Model S,74990,561.03,216.60,-55390
40,HI,Toyota Tacoma,26050,1832.16,Nissan LEAF,31600,778.46,1053.70,-5550
41,IN,Chevrolet Silverado,48485,2058.33,Nissan LEAF,31600,448.35,1609.98,16885
42,IA,Chevrolet Silverado,48485,1680.75,Tesla Model X,79990,488.64,1192.11,-31505
43,KY,Chevrolet Silverado,48485,1919.39,Tesla Model S,74990,588.93,1330.46,-26505
44,MN,Chevrolet Silverado,48485,1958.63,Tesla Model S,74990,610.58,1348.05,-26505
45,MD,Toyota RAV4,25950,1186.42,Tesla Model S,74990,356.62,829.80,-49040
46,MA,Toyota RAV4,25950,885.62,Chevy Bolt,36620,474.38,411.24,-10670
47,OR,Toyota RAV4,25950,1229.83,Nissan LEAF,31600,448.04,781.79,-5650

In [35]:
Top_3_Difference = Yearly_Price_Both.nlargest(3, 'Yearly Price Difference')
Top_3_Difference

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference
5,WY,RAM 1500,32154,2211.46,Chevy Bolt,36620,380.27,1831.19,-4466
41,IN,Chevrolet Silverado,48485,2058.33,Nissan LEAF,31600,448.35,1609.98,16885
21,NM,Ford F-Series,28745,1845.47,Nissan LEAF,31600,362.39,1483.08,-2855

In [36]:
Bottom_3_Difference = Yearly_Price_Both.nsmallest(3, 'Yearly Price Difference')
Bottom_3_Difference

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference
39,FL,Toyota Corolla,19600,777.63,Tesla Model S,74990,561.03,216.60,-55390
37,NJ,Honda CR-V,25150,942.85,Tesla Model S,74990,713.12,229.73,-49840
46,MA,Toyota RAV4,25950,885.62,Chevy Bolt,36620,474.38,411.24,-10670

In [38]:
Yearly_Price_Both['10 Year difference'] = ((Yearly_Price_Both['Yearly Price Difference'] * 10) + Yearly_Price_Both['List Price Difference'])
Yearly_Price_Both

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference,10 Year difference
0,AL,RAM 1500,32154,1510.27,Nissan LEAF,31600,1049.45,460.82,554,5162.2
1,AK,RAM 1500,32154,1140.02,Tesla Model X,79990,544.45,595.57,-47836,-41880.3
2,AZ,RAM 1500,32154,1521.49,Tesla Model X,79990,747.88,773.61,-47836,-40099.9
3,AR,RAM 1500,32154,1401.86,Nissan LEAF,31600,624.93,776.93,554,8323.3
4,NV,RAM 1500,32154,1555.70,Tesla Model S,74990,1068.65,487.05,-42836,-37965.5
5,WY,RAM 1500,32154,2211.46,Chevy Bolt,36620,380.27,1831.19,-4466,13845.9
6,CA,Honda Civic,20000,1283.37,Tesla Model S,74990,661.87,621.50,-54990,-48775.0
7,CO,Ford F-Series,28745,1393.35,Tesla Model X,79990,456.85,936.50,-51245,-41880.0
8,DE,Ford F-Series,28745,1628.42,Tesla Model S,74990,405.06,1223.36,-46245,-34011.4
9,GA,Ford F-Series,28745,1849.22,Nissan LEAF,31600,1015.87,833.35,-2855,5478.5
10,ID,Ford F-Series,28745,1545.91,Chevy Bolt,36620,508.67,1037.24,-7875,2497.4
11,IL,Ford F-Series,28745,1444.98,Nissan LEAF,31600,865.73,579.25,-2855,2937.5
12,KS,Ford F-Series,28745,1387.25,Nissan LEAF,31600,433.77,953.48,-2855,6679.8
13,LA,Ford F-Series,28745,1352.80,Nissan LEAF,31600,554.92,797.88,-2855,5123.8
14,ME,Ford F-Series,28745,1626.30,Nissan LEAF,31600,471.59,1154.71,-2855,8692.1
15,MI,Ford F-Series,28745,1393.01,Chevy Bolt,36620,503.26,889.75,-7875,1022.5
16,MS,Ford F-Series,28745,1593.10,Nissan LEAF,31600,449.16,1143.94,-2855,8584.4
17,MO,Ford F-Series,28745,1605.37,Tesla Model S,74990,869.62,735.75,-46245,-38887.5
18,MT,Ford F-Series,28745,1488.86,Tesla Model S,74990,581.53,907.33,-46245,-37171.7
19,NE,Ford F-Series,28745,1540.49,Tesla Model S,74990,504.68,1035.81,-46245,-35886.9
20,NH,Ford F-Series,28745,1310.89,Chevy Bolt,36620,460.02,850.87,-7875,633.7
21,NM,Ford F-Series,28745,1845.47,Nissan LEAF,31600,362.39,1483.08,-2855,11975.8
22,NC,Ford F-Series,28745,1565.94,Nissan LEAF,31600,408.10,1157.84,-2855,8723.4
23,ND,Ford F-Series,28745,1579.84,Tesla Model X,79990,471.75,1108.09,-51245,-40164.1
24,OH,Ford F-Series,28745,1325.96,Nissan LEAF,31600,560.37,765.59,-2855,4800.9
25,OK,Ford F-Series,28745,1751.92,Nissan LEAF,31600,640.49,1111.43,-2855,8259.3
26,PA,Ford F-Series,28745,1475.42,Tesla Model S,74990,952.15,523.27,-46245,-41012.3
27,SC,Ford F-Series,28745,1522.08,Nissan LEAF,31600,792.91,729.17,-2855,4436.7
28,SD,Ford F-Series,28745,1600.03,Chevy Bolt,36620,539.09,1060.94,-7875,2734.4
29,TN,Ford F-Series,28745,1490.15,Nissan LEAF,31600,413.67,1076.48,-2855,7909.8
30,TX,Ford F-Series,28745,1486.27,Tesla Model S,74990,538.82,947.45,-46245,-36770.5
31,UT,Ford F-Series,28745,1558.43,Nissan LEAF,31600,581.64,976.79,-2855,6912.9
32,VT,Ford F-Series,28745,1401.02,Chevy Bolt,36620,673.45,727.57,-7875,-599.3
33,VA,Ford F-Series,28745,1532.53,Tesla Model S,74990,568.33,964.20,-46245,-36603.0
34,WV,Ford F-Series,28745,1486.91,Chevy Bolt,36620,462.44,1024.47,-7875,2369.7
35,WI,Ford F-Series,28745,1491.36,Tesla Model S,74990,492.87,998.49,-46245,-36260.1
36,CT,Honda CR-V,25150,871.71,Nissan LEAF,31600,351.71,520.00,-6450,-1250.0
37,NJ,Honda CR-V,25150,942.85,Tesla Model S,74990,713.12,229.73,-49840,-47542.7
38,NY,Honda CR-V,25150,911.61,Nissan LEAF,31600,468.18,443.43,-6450,-2015.7
39,FL,Toyota Corolla,19600,777.63,Tesla Model S,74990,561.03,216.60,-55390,-53224.0
40,HI,Toyota Tacoma,26050,1832.16,Nissan LEAF,31600,778.46,1053.70,-5550,4987.0
41,IN,Chevrolet Silverado,48485,2058.33,Nissan LEAF,31600,448.35,1609.98,16885,32984.8
42,IA,Chevrolet Silverado,48485,1680.75,Tesla Model X,79990,488.64,1192.11,-31505,-19583.9
43,KY,Chevrolet Silverado,48485,1919.39,Tesla Model S,74990,588.93,1330.46,-26505,-13200.4
44,MN,Chevrolet Silverado,48485,1958.63,Tesla Model S,74990,610.58,1348.05,-26505,-13024.5
45,MD,Toyota RAV4,25950,1186.42,Tesla Model S,74990,356.62,829.80,-49040,-40742.0
46,MA,Toyota RAV4,25950,885.62,Chevy Bolt,36620,474.38,411.24,-10670,-6557.6
47,OR,Toyota RAV4,25950,1229.83,Nissan LEAF,31600,448.04,781.79,-5650,2167.9

In [39]:
Top_3_Difference = Yearly_Price_Both.nlargest(3, '10 Year difference')
Top_3_Difference

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference,10 Year difference
41,IN,Chevrolet Silverado,48485,2058.33,Nissan LEAF,31600,448.35,1609.98,16885,32984.8
5,WY,RAM 1500,32154,2211.46,Chevy Bolt,36620,380.27,1831.19,-4466,13845.9
21,NM,Ford F-Series,28745,1845.47,Nissan LEAF,31600,362.39,1483.08,-2855,11975.8

In [40]:
Top_3_Difference = Yearly_Price_Both.nlargest(3, '10 Year difference')
Top_3_Difference

,States,Regular,Regular List Pricing,Yearly Gas Price,Electrical,EV List Pricing,Yearly Electric Price,Yearly Price Difference,List Price Difference,10 Year difference
41,IN,Chevrolet Silverado,48485,2058.33,Nissan LEAF,31600,448.35,1609.98,16885,32984.8
5,WY,RAM 1500,32154,2211.46,Chevy Bolt,36620,380.27,1831.19,-4466,13845.9
21,NM,Ford F-Series,28745,1845.47,Nissan LEAF,31600,362.39,1483.08,-2855,11975.8